h1 {
    color: blue;
    font-size: 64px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

li {
    color: white;
    background-color: black;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main-page {
    color: black;
    background-color: white;
    font-size: 84px;
}

.button {
    background-color: green;
    text-align: center;   
}